django==3.1.14
demjson
pyjwt
django-cors-headers
xlrd
cos-python-sdk-v5
apscheduler==3.7.0
django_apscheduler
django-notifications-hq==1.6.0
pydub==0.25.1
ffmpeg==1.4
ffprobe==0.5
python-environ==0.4.54
